body{
    /* box-sizing: border-box; */
    margin:auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
}

header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
}

/* Navigation Bar Styling */
nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
    border-right:1px solid #bbb;
}

li.nav:last-child {
    border-right: none;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #008081;
}


/* Section */
section{
    font-size: 16px;
    padding-top:10px;
    max-width: 1280px; 
    margin:auto;
    padding-bottom:100px;
}

div.content{
    width:100%;
    text-align:justify;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
div.item{
    padding:10px;
    margin:auto;
    max-width:600px;
}

img.project_img{
    max-width:600px;
    margin:auto;
    width:100%;
}

/* For Videos Page */
h1{
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    display:block;
    margin-top:30px;
    margin-bottom:30px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* For Goto Top Button */
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #008081;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#topButton:hover {
    background-color: #666;
}


/* Footer */
footer{
    box-sizing:border-box;
    background-color: #111;
    color:white;
    padding:10px;
    margin:auto;
    text-align: center;
    bottom:0;
    position: absolute;
    width:100%;
}

footer a{
    color:white;
}