body{
    box-sizing: border-box  ;
    margin:auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
}

/* Navigation Bar Styling */
nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
    border-right:1px solid #bbb;
}

li.nav:last-child {
    border-right: none;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #008081;
}




section{
    font-size: 16px;
    padding-top:10px;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1280px; 
    margin:auto;
}

div.content{
    width:100%;
    text-align:justify;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
}
div.item{
    padding:10px;
    margin:auto;
}
